@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}
a.navbar-brand {
  color: #fff;
  font-family: "Centra", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 2px;
}
a.navbar-brand:hover {
  color: #fff;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #4a2fbd;
}
a.nav-link {
  color: #bab9b9;
  font-size: 20px;
  font-weight: 400;
  transition: 0.6s;
}
a.active.nav-link {
  color: #fff !important;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}
a.nav-link:hover {
  color: #fff;
}
